.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirmation-img{
    margin: 4.5em;
}

.confirmation-text{
    margin: 1em;
    font: 1em sans-serif;
}

h2{
    margin: 0.5em;
    text-align: center;
}