body{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #4e555b;
}

.pad{
    margin: 2em 0 2em 0;
}

.fonts{
    font-family: 'Inclusive Sans', sans-serif;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Añadir esquinas redondeadas si se desea */
    padding: 20px; /* Ajustar el relleno según sea necesario */
    background-color: black;
}